{% extends "components/base.html" %}

{% block title %}Manage Jobs{% endblock %}

{% block content %}

<div class="container py-5">

<h2 class="mb-4">All Jobs</h2>

<table class="table table-bordered table-hover shadow">

<thead>

<tr>

<th>ID</th>
<th>Job Title</th>
<th>Company</th>
<th>Category</th>
<th>Location</th>
<th>Salary</th>
<th>Action</th>

</tr>

</thead>

<tbody>

{% for job in jobs %}

<tr>

<td>{{ job.id }}</td>
<td>{{ job.job_title }}</td>
<td>{{ job.company_name }}</td>
<td>{{ job.category_name }}</td>
<td>{{ job.location }}</td>
<td>{{ job.salary }}</td>
<td>

<a href="/edit-job/{{ job.id }}"
class="btn btn-warning btn-sm">

Edit

</a>

<a href="/delete-job/{{ job.id }}"
class="btn btn-danger btn-sm">

Delete

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}