{% extends "components/base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="container py-5">

<div class="card shadow p-4">

<h2>Change Password</h2>

<form method="POST">

<div class="mb-3">
<label>Current Password</label>
<input type="password" class="form-control" name="current_password" required>
</div>

<div class="mb-3">
<label>New Password</label>
<input type="password" class="form-control" name="new_password" required>
</div>

<button class="btn btn-primary">
Update Password
</button>

</form>

</div>

</div>

{% endblock %}