<footer class="footer">

    <div class="container">

        <div class="row gy-5">

            <!-- Company -->

            <div class="col-lg-4">

                <h3 class="footer-logo">

                    <i class="fa-solid fa-briefcase"></i>

                    SmartHire

                </h3>

                <p class="footer-text">

                    SmartHire is a modern recruitment platform that connects
                    talented professionals with trusted companies through a
                    simple, secure and user-friendly hiring experience.

                </p>

            </div>

            <!-- Quick Links -->

            <div class="col-lg-2">

                <h5>Quick Links</h5>

                <ul class="footer-links">

                    <li><a href="/">Home</a></li>

                    <li><a href="/jobs">Jobs</a></li>

                    <li><a href="/explore-companies">Companies</a></li>

                    <li><a href="/about">About</a></li>

                    <li><a href="/contact">Contact</a></li>

                </ul>

            </div>

            <!-- Categories -->

            <div class="col-lg-3">

                <h5>Categories</h5>

                <ul class="footer-links">

                    <li>Software Development</li>

                    <li>Artificial Intelligence</li>

                    <li>Cloud Computing</li>

                    <li>Data Science</li>

                    <li>Cyber Security</li>

                </ul>

            </div>

            <!-- Contact -->

            <div class="col-lg-3">

                <h5>Contact</h5>

                <p>

                    <i class="fa-solid fa-envelope"></i>

                    support@smarthire.com

                </p>

                <p>

                    <i class="fa-solid fa-phone"></i>

                    +91 98765 43210

                </p>

                <p>

                    <i class="fa-solid fa-location-dot"></i>

                    Patna, Bihar, India

                </p>

                <div class="social-icons">

                    <a href="https://www.linkedin.com/in/bishal-kumar-54b410248/"><i class="fab fa-linkedin-in"></i></a>

                    <a href="https://github.com/bishalsince2003"><i class="fab fa-github"></i></a>

                    <a href="#"><i class="fab fa-x-twitter"></i></a>

                    <a href="https://www.instagram.com/bishal_since2003/?hl=en"><i class="fab fa-instagram"></i></a>

                </div>

            </div>

        </div>

        <hr>

        <div class="footer-bottom">

            <p>

                © 2026 SmartHire. All Rights Reserved.

            </p>

            <p>

                Developed by <strong>Bishal Kumar</strong>

            </p>

        </div>

    </div>

</footer>